node_modules
dist
build
target
coverage
.cache
.vite
.turbo
.next
.parcel-cache
*.min.js
*.bundle.js
*.tgz
*.lock
frontend/node_modules
frontend/dist
frontend/build
backend/target
.DS_Store
.vscode
/.idea
